<a id="logo" href="/">

<svg id="grav-logo" version="1.1" id="Layer_1" width="80%" height="80%" viewBox="0 0 46 46" xml:space="preserve">
<g
 transform="translate(0,-251)"
 id="layer1">
<path
   id="path235-0-6"
   d="m 35.891083,262.74251 c -0.435238,-3.87639 -0.39024,-8.06522 -0.119608,-9.49538 4.407707,-0.35881 5.654928,0.47978 9.484727,0.41317 -1.101077,8.83606 -0.68397,41.28408 -1.043669,39.88753 -9.177783,0.61753 -3.043785,0.29456 -8.490988,0.49428 -1.213572,0.0444 -0.04326,-13.31278 0.169575,-31.2996 z"
   style="fill:#ffffff;stroke:none;stroke-width:0.12099699" />
<path
   id="path237-4-2"
   d="m 15.161061,294.72807 c 3.326762,-12.16483 -4.301254,-33.03921 9.022058,-31.69306 10.497823,0.61668 9.138255,19.4281 8.863881,28.41658 -0.02295,2.78755 0.207272,3.2597 -5.608432,2.90328 -1.63319,-2.47026 1.042824,-10.40776 -1.277497,-12.17989 -0.739838,-0.45139 -3.223532,1.64977 -3.811794,1.62792 -0.344151,-0.0125 -0.12683,-4.88126 0.09069,-5.18976 0.307769,-0.43615 4.699769,1.54273 4.62437,0.84573 -2.605372,-24.08494 -12.070645,6.13982 -1.420441,15.08416 -2.897577,-0.27077 -6.752926,0.31179 -10.482909,0.18501 z"
   style="fill:#ffffff;stroke:none;stroke-width:0.12099699" />
<path
   id="path239-4-9"
   d="m 0.2394055,253.84148 c 12.0399015,-1.10939 23.9067265,-0.0404 34.0808295,-0.90416 -1.78708,3.21697 -0.736454,7.39989 0.231292,9.19883 -20.914071,-2.29317 -20.3436,1.17673 -20.838815,3.43504 0.407952,11.71728 -0.262686,19.11907 0.283052,29.40622 -4.3205554,-0.26265 -10.1868751,1.84299 -10.7071862,-0.44152 -0.036584,-12.87685 -1.0282541,-26.676 -3.04917934,-40.69441 z"
	style="fill:#ffffff;stroke:none;stroke-width:0.12099699" />
</svg>
</a>
